@model TBtest.Models.Project
@{
    ViewBag.Title = Model.PrjName;
}
<h1 class="text-center">Project @Model.PrjName</h1>
<hr />
<div class="container-fluid row">
    <div class="col-md-12 text-center">
        <img src="@Model.PrjImg" class="text-center" style="width:auto" ; height="30vmin;" alt="@Model.PrjName" />
    </div>
    <hr class="underPost" />
    <div class="col-md-12 text-center">
        @Model.PrjDesc
    </div>
    <hr class="underPost" />
    <div class="col-md-6 text-right">
        <h6>Ми шукаємо</h6>
        <hr class="postHr" />
        <ul>
            <li>one</li>
            <li>two</li>
        </ul>
    </div>
    <div class="col-md-6 text-left">
        <h6>Потрібні навички</h6>
        <hr class="postHr" />
        <ul>
            <li>one</li>
            <li>two</li>
        </ul>
    </div>
    <div class="text-center col-md-12 row">Проект створив - @Model.User.Name </div>
    <div class="text-center col-md-12 row"> Кількість людей, яким проект подобається - @Model.PrjLikeCounter</div>
</div>